.div-color {
  background-color: red; }

.div-color {
  background-color: blue; }

.div-color {
  background-color: green; }

.div-color {
  background-color: yellow; }

.div-color {
  background-color: violet; }

* {
  margin: 0;
  padding: 0; }

header {
  height: 580px;
  width: 100%;
  grid-area: header; }

#logo {
  width: 60px;
  height: 60px;
  display: inline-block; }

img {
  width: 100%;
  height: 100%; }

nav {
  position: sticky;
  top: 0px;
  background-image: url(../img/Header-image.jpg);
  background-size: cover;
  border: 4px solid black;
  width: 100%;
  height: 100px;
  grid-area: nav; }

#imagenPortada {
  display: inline-block;
  height: 100%;
  width: 100%; }

#imagenNFTnon {
  display: inline-block;
  height: 100%;
  width: 100%; }

#imagenGraficoBitcoin {
  display: inline-block;
  height: 100%;
  width: 100%; }

#cardFondo {
  height: 100px;
  width: 100px; }

p {
  color: #40b7d4;
  font-size: 20px;
  font-family: 'Genos', sans-serif; }

.parrafoUno, .parrafoDos, .parrafoTres {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 50px; }

main {
  background-image: linear-gradient(#210041, #3b0766);
  grid-area: main;
  height: 1000px; }

#tituloPrincipal {
  color: #40b7d4;
  text-align: center;
  background-color: #1b0333;
  font-family: 'Genos', sans-serif; }

#grillaMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px; }

li {
  color: #40b7d4;
  font-size: 20px;
  font-family: 'Genos', sans-serif;
  display: inline-block;
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  width: 19%;
  text-align: center;
  margin-top: 10px; }

#divGigante {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 620x 100px 1000px;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer"; }

footer {
  height: 100px;
  background-color: black;
  background-size: cover;
  list-style-type: none;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Genos', sans-serif;
  text-decoration: none;
  color: #40b7d4;
  text-align: center;
  grid-area: footer; }

#footerFrase {
  color: #40b7d4;
  font-size: 15px;
  font-family: 'Genos', sans-serif;
  background-color: black;
  background-size: cover;
  list-style-type: none;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  text-align: left; }
