$bloquearelemento: inline-block;
$colores: red, blue, green, yellow, violet;
@each $color in $colores{
    .div-#{color}{
        background-color: $color;
    }
}

*{
    margin: 0;
    padding: 0;
    
}

header{
    height: 580px;
    width: 100%;
    grid-area: header;
}


#logo{
   width: 60px;
   height: 60px;
    display: $bloquearelemento;

}

img{
    width: 100%;
    height: 100%;
}

nav{
    position: sticky;
    top: 0px;
    background-image: url(img/Header-image.jpg);
    background-size: cover;
    border: 4px solid black;
    width: 100%;
    height:  100px;
    grid-area: nav;
}



#imagenPortada{
    display: $bloquearelemento;
    height: 100%;
    width: 100%;

}

#imagenNFTnon{
    display: $bloquearelemento;
    height: 100%;
    width: 100%;
  
}

#imagenGraficoBitcoin{
    display: $bloquearelemento;
    height: 100%;
    width: 100%;
}

#cardFondo{
    height: 100px;
    width: 100px;
}

    @mixin mixinUno($colorLetra , $tamLetra) {
        color: $colorLetra;
        font-size: $tamLetra;
        font-family: 'Genos', sans-serif;

        
    }
p{
    @include mixinUno(rgb(64, 183, 212) , 20px);
  
}
.parrafoUno{
    width: 100%;
text-align: center;
margin-left: auto;
margin-right: auto;
display: $bloquearelemento;
margin-top: 50px

}

.parrafoDos{
    @extend .parrafoUno;
 
    
}
.parrafoTres{
    @extend .parrafoUno;

}
   
main{background-image: linear-gradient(rgb(33, 0, 65) , rgb(59, 7, 102));
grid-area: main;
height: 1000px;

}

#tituloPrincipal{
    color: $PrimerColor;
    text-align: center;
    background-color: rgb(27, 3, 51);
    font-family: 'Genos', sans-serif;
    
}

#grillaMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
}


li{
    @include mixinUno(rgb(64, 183, 212) , 20px);
    display: $bloquearelemento;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    width: 19%;
    text-align: center;
    margin-top: 10px;
}

#divGigante{
    display:grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 550px 100px 1000px;
    grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
    
}






footer{height: 100px;
    background-color: black;
    background-size: cover;
    list-style-type: none;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Genos', sans-serif;
    text-decoration: none;
    color: $PrimerColor;
    text-align: center;
    grid-area: footer;
}

#footerFrase{
    @include mixinUno(rgb(64, 183, 212) , 15px);
    background-color: black;
    background-size: cover;
    list-style-type: none;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
}
